<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016-2019 Owebia. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <owsh1>
                <active>0</active>
                <model>Owebia\AdvancedShipping\Model\Carrier</model>
                <title>Advanced Shipping by Owebia</title>
                <required_fields>country_id,postcode</required_fields>
            </owsh1>
        </carriers>
    </default>
</config>
