<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Owebia. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Owebia\AdvancedShipping\Model\FunctionProxy">
        <arguments>
            <argument name="functionProviders" xsi:type="array">
                <item name="Owebia_AdvancedShipping_Model_FunctionProvider" xsi:type="object">Owebia\AdvancedShipping\Model\FunctionProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Reflection\DataObjectProcessor">
        <plugin sortOrder="10"
            name="Owebia_AdvancedShipping_Plugin_Magento_Framework_Reflection_DataObjectProcessor"
            type="Owebia\AdvancedShipping\Plugin\Magento\Framework\Reflection\DataObjectProcessor"/>
    </type>
    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin sortOrder="10"
            name="Owebia_AdvancedShipping_Plugin_Magento_Quote_Model_Cart_ShippingMethodConverter"
            type="Owebia\AdvancedShipping\Plugin\Magento\Quote\Model\Cart\ShippingMethodConverter"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin sortOrder="10"
            name="Owebia_AdvancedShipping_Plugin_Magento_Quote_Model_Quote_Address_Rate"
            type="Owebia\AdvancedShipping\Plugin\Magento\Quote\Model\Quote\Address\Rate"/>
    </type>
</config>
