<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2016-2019 Owebia. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="owebia_advancedshipping_config_provider" xsi:type="object">Owebia\AdvancedShipping\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
